<div id="landingpage">
    <div id="heroSection">
        <div id="textContainer">
            <div id="navbar" class="flex justify-between items-center px-2 py-[4px]">
                <div class="topleft">
                    <p>BookHaven</p>
                </div>
                <div class="topcenter flex flex-row justify-center items-center space-x-52">
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Books</a>
                </div>
                <div class="topright">
                    <button class="rounded-[10px] border-solid border-[1px] bg-[#7e22ce] border-[#7e22ce] outline-none px-6 py-1 hover:cursor-pointer text-white"><a routerLink="/registers">Login</a></button>
                </div>
            </div>
            <div class="herotext">
                <p>Books are the plane, and the train, and the road. They are the destination, and the journey. They are home</p>
            </div>
        </div>
    </div>
    <div class="aboutSection"></div>
    <div class="FooterSection"></div>
</div>